node_modules
dist
examples/playground
examples/vuejs-core
.env
tools/translator/ja2en/input.md
tools/translator/ja2en/output.md
book/online-book/.vitepress/cache
book/online-book/.vitepress/dist

# for dts-bundle
temp