:root {
  --vp-c-brand: #42b883;
  --vp-button-brand-border: #42b883;
  --vp-button-brand-bg: #42b883;
  --vp-button-brand-hover-bg: #42b883cc;
  --vp-button-brand-hover-border: #42b883cc;
  --vp-button-brand-active-bg: #42b883cc;
  --vp-button-brand-active-border: #42b883cc;
}

